.payment-successful-rectangle{
	height:550px;
	border:3px solid #0F3B75;
    margin-top: 120px;
    text-align: center;
}

.text-center{
    font-family: Lato;
    font-weight: bold;
    font-size: 24px;
    color: #0F3B75;
    margin-top:-120px;
}

.circle{
    margin-top: 100px;
}
