.otp-rectangle-box{
	height:550px;
	border:3px solid #0F3B75;
    margin-top: 120px;
    text-align: center;
}

.otp-text{
    font-family: Lato;
    font-weight: bold;
    color: #0F3B75;
    margin-top:100px;
}
.otp-p{
    font-size: 13px;
    padding-bottom: 20px; 
}
.otp-textbox{
    border:1.5px solid #0F3B75;
    height: 40px;
}

.otp-button{
    background-color: #0F3B75;
    font-family: Lato;
    font-size: medium;
    font-weight: bold;
    width: 250px;
    height: 50px;
    text-align: center;
    margin-top:20px;
}
.otp-resend{
    margin: 60px;
}
.otp-resend p {
    color:#0F3B75;
    font-weight: bold;
}
.otp-resend button {
    border: 1.5px solid #0F3B75;
    color: #0F3B75;
    font-weight: bold;
    font-size: medium;
    width: 250px;
    height: 50px;
}