.payment-successful-rectangle{
	height:500px;
	border:3px solid #0F3B75;
    margin-top: 120px;
    text-align: center;
}

.text-center{
    font-family: Lato;
    font-weight: bold;
    font-size: 16px;
    color: #0F3B75;
    margin-top:50px;
}


p{
    font-family: Lato;
    font-weight: lighter;
    font-size: 13px;
    color: #0F3B75;
    padding-bottom: 20px; 
}
.textbox{

width: 342px;
height: 40px;
margin-left: -50px;

}

.button{

font-family: Lato; 
width: 250px;
height: 40px;
text-align: center;
margin-top:50px;
margin-left: -30px;

}